<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>404 Error</title>
  
  
  
      <link rel="stylesheet" href="{{ url_for('static',filename='styles/404.css') }}">

  
</head>

<body>

  <h1>404 Error Page </h1>
<p class="zoom-area"><b>Sorry</b> Invalid Keywords!! </p>
<section class="error-container">
  <span><span>4</span></span>
  <span>0</span>
  <span><span>4</span></span>
</section>
<div class="link-container">
  <a  href="http://127.0.0.1:5000" class="more-link">Try Again !!</a>
</div>
  
  

</body>

</html>
